<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sign Up</h5>
                    <div class="card-text mt-4">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
                            <div class="form-floating mb-4">
                                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email" 
                                [ngClass]="form.controls.email.errors?'is-invalid':''">
                                <label for="email">Email</label>
                                <div class="invalid-feedback">
                                    {{form.controls.email.errors | json}}
                                </div>
                            </div>
                            <div class="form-floating mb-4">
                                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password"
                                [ngClass]="form.controls.password.errors?'is-invalid':''">
                                <label for="password">Password</label>
                                <div class="invalid-feedback">
                                    {{form.controls.password.errors | json}}
                                </div>
                            </div>
                            <div class="form-floating mb-4">
                                <input formControlName="repeatPassword" type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password"
                                [ngClass]="form.controls.repeatPassword.errors?'is-invalid':''">
                                <label for="repeatPassword">Repeat Password</label>
                                <div class="invalid-feedback">
                                    {{form.controls.repeatPassword.errors | json}}
                                </div>
                            </div>
                            <div class="form-floating mb-4">
                                <input formControlName="name" type="text" class="form-control" id="name" placeholder="name"
                                [ngClass]="form.controls.name.errors?'is-invalid':''">
                                <label for="name">Username</label>
                                <div class="invalid-feedback">
                                    {{form.controls.name.errors | json}}
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-outline-primary col-12">
                                    Sign Up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>