<div class="container">
    <div class="row" *ngIf="user">
        <h2>Profile</h2>
        <div class="row">
            <div class="col-md-3">
                <img [src]="user.url | urlPipe" alt="" class="img-fluid">
                <app-image-uploader *ngIf="isOwner" [name]="'auth'" [id]="user.id" (onUpload)="onUpload($event)"></app-image-uploader>
            </div>
            <div class="col-md-9">
                <p class="text-muted mb-0"><small>Name</small></p>
                <h3>{{user.name}}</h3>
            </div>
        </div>
    </div>
</div>