<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p class="text-muted mb-0"><small>First Name</small></p>
                    <p>{{character?.firstName}}</p>
                    <p class="text-muted mb-0"><small>Last Name</small></p>
                    <p>{{character?.lastName}}</p>
                    <p class="text-muted mb-0"><small>Race</small></p>
                    <p>{{character?.race}}</p>
                </div>
                <h4>Characteristics</h4>
                <div class="row">
                    <div class="col-2 p-3" *ngFor="let char of character?.characteristics">
                        <div class="row">
                            <div class="col-12 tile text-center pt-4">
                                <p class="h4">{{char.value}}</p>
                                <p class="text-muted"><small>{{char.name}}</small></p>
                            </div>
                        </div>

                    </div>
                </div>
                <h4>Skills</h4>
                <div class="row">
                    <div class="col-2 p-3" *ngFor="let char of character?.skills">
                        <div class="row">
                            <div class="col-12 tile text-center pt-4">
                                <p class="h4">{{char.value + char.advancement}}</p>
                                <p class="text-muted"><small>{{char.name}}</small></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>