<div class="container">
    <div class="row" *ngIf="item">
        <div class="col-12 text-end">
            <a class="btn btn-outline-success me-2" *ngIf="isOwner" routerLink="/management/{{item.id}}/home">Management</a>
            <a class="btn btn-outline-warning me-2" *ngIf="isOwner" routerLink="/campaign/edit/{{id}}">Edit</a>
            <button class="btn btn-outline-danger" *ngIf="isOwner" (click)="delete(item.id)">Delete</button>
            <button class="btn btn-outline-danger ms-4" *ngIf="joined">Leave</button>
        </div>
        <h2>Campaign Details</h2>
        <div class="row">
            <div class="col-md-4">
                <img [src]="item.url | urlPipe" alt="" class="img-fluid">
                <app-image-uploader *ngIf="isOwner" [name]="'campaign'" [id]="item.id" (onUpload)="onUpload($event)"></app-image-uploader>
            </div>
            <div class="col-md-8">
                <p class="text-muted mb-0"><small>Name</small></p>
                <h3>{{item.name}}</h3>
                <p class="text-muted mt-4 mb-0"><small>System</small></p>
                <p>{{systemName}}</p>
                <p class="text-muted mt-4 mb-0"><small>Description</small></p>
                <p>{{item.description}}</p>
            </div>
            
        </div>
        <div class="row mt-3">
            <div class="col-4 text-center">
                Players: 0
            </div>
            <div class="col-4 text-center">
                Locations: 0
            </div>
            <div class="col-4 text-center">
                Items: 0
            </div>
        </div>
        <div class="row mt-3" *ngIf="!isOwner">
            <div class="col-12 text-center" *ngIf="!joined">
                <button class="btn btn-outline-primary" (click)="join()">Join Now!</button>
            </div>
        </div>
        <div class="row mt-3" *ngIf="isOwner || joined">
            <div class="col-4 offset-4">
                <a class="btn btn-outline-success me-4 col-12" routerLink="/game/panel">Enter the game</a>
            </div>
        </div>
    </div>
</div>